[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true

[dev-packages]
mkdocs = "*"
pymdown-extensions = "*"
ipython = "*"

[packages]
pytest = "==6.1.1"

[requires]
python_version = "3.8"
