[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
mkdocs = "*"
pymdown-extensions = "*"

[packages]
pytest = "==6.1.0"

[requires]
python_version = "3.8"
