attrs==20.2.0
click==7.1.2
future==0.18.2
iniconfig==1.0.1
Jinja2==2.11.2
joblib==0.16.0
livereload==2.6.3
lunr==0.5.8
Markdown==3.2.2
MarkupSafe==1.1.1
mkdocs==1.1.2
more-itertools==8.5.0
nltk==3.5
packaging==20.4
pluggy==0.13.1
py==1.9.0
pymdown-extensions==8.0
pyparsing==2.4.7
pytest==6.1.1
PyYAML==5.3.1
regex==2020.7.14
six==1.15.0
toml==0.10.1
tornado==6.0.4
tqdm==4.49.0
